			<div class="single-blog-sidebar-area">

                <!-- search button -->
                <!--div class="single-side-bar">
					<h2>Search</h2>
					<input type="text" class="form-control" placeholder="Search">
					<button>Search</button>
				</div-->

                <!-- About Me -->
				<div class="single-side-bar">
					<h2>about me</h2>
                    {% if site.author-img %}
					<img src="{{ '/assets/img/authors/' | prepend: site.baseurl | append: site.author-img }}" alt="{{site.author}}">
					{% endif %}
                    <p>I'm a {{site.author-title}}, {{site.about-author | truncatewords: 30 }}</p>
				</div>

				<!-- Recent Post -->
				<div class="single-side-bar">
					<h2>Recent Posts</h2>
					<ul>
						{% for post in site.posts limit:10 %}
						<li><a href="{{ post.url | prepend: site.baseurl }}">- {{post.title}}</a></li>
						{% endfor %}
					</ul>
				</div>

				<!-- Category Lists -->
				<!--div class="single-side-bar">
					<h2>Catagory lists</h2>
					<ul>
						<li><a href="#"> Business planning <span>(5)</span></a></li>
						<li><a href="#"> CMS Web Templates <span>(3)</span></a></li>
						<li><a href="#"> Html Templates <span>(6)</span></a></li>
						<li><a href="#"> Graphics Design <span>(4)</span></a></li>
						<li><a href="#"> WordPress <span>(8)</span></a></li>
					</ul>
				</div-->

				<!-- Tags -->
				<!--div class="single-side-bar">
					<h2>Tags</h2>
					<div class="tag">
						<a href="#">Web design</a>
						<a href="#">Web Development</a>
						<a href="#">Accounting</a>
						<a href="#">Taxation</a>
						<a href="#">Retirement</a>
						<a href="#">Financial planning</a>
					</div>
				</div-->
			</div>