<aside class="right-sidebar">

		<!-- search button -->
		<!--div class="widget">
			<h5 class="widgetheading">Search</h5>
			<input type="text" class="form-control" placeholder="Search">
			<button>Search</button>
		</div-->

		<!-- About Me -->
		<div class="widget about-me">
			<h5 class="widgetheading">about me</h5>
			{% if site.data.author.Image %}
			<img src="{{ '/assets/img/authors/' | prepend: site.baseurl | append: site.data.author.Image }}" alt="{{ site.data.author.Name }}">
			{% endif %}
			<p>I'm a {{ site.data.author.Title}}, {{ site.data.author.About | truncatewords: 30 }}</p>
		</div>

		<!-- Recent Post -->
		<div class="widget">
			<h5 class="widgetheading">Recent Posts</h5>
			<ul class="recent">
				{% for post in site.posts limit:10 %}
				<li><a href="{{ post.url | prepend: site.baseurl }}">- {{post.title}}</a></li>
				{% endfor %}
			</ul>
		</div>

		<!-- Category Lists -->
		<!--div class="widget">
			<h5 class="widgetheading">Catagory lists</h5>
			<ul class="cat">
				<li><a href="#"> Business planning <span>(5)</span></a></li>
				<li><a href="#"> CMS Web Templates <span>(3)</span></a></li>
				<li><a href="#"> Html Templates <span>(6)</span></a></li>
				<li><a href="#"> Graphics Design <span>(4)</span></a></li>
				<li><a href="#"> WordPress <span>(8)</span></a></li>
			</ul>
		</div-->

		<!-- Tags -->
		<!--div class="widget">
			<h5 class="widgetheading">Tags</h5>
			<ul class="tag">
				<li><a href="#">Web design</a></li>
				<li><a href="#">Web Development</a></li>
				<li><a href="#">Accounting</a></li>
				<li><a href="#">Taxation</a></li>
				<li><a href="#">Retirement</a></li>
				<li><a href="#">Financial planning</a></li>
			</ul>
		</div-->
</aside>