<div class="social">
<ul >
    {% if site.data.author.social-github  %}
    <li><a href="https://github.com/{{ site.data.author.social-github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.data.author.social-stack_overflow %}
    <li><a href="https://stackoverflow.com/users/{{ site.data.author.social-stack_overflow }}" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.data.author.social-linkedin  %}
    <li><a href="https://in.linkedin.com/in/{{ site.data.author.social-linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.data.author.social-twitter %}
    <li><a href="https://twitter.com/{{ site.data.author.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.data.author.social-facebook  %}
    <li><a href="https://www.facebook.com/{{ site.data.author.social-facebook }}"  target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.data.author.Email %}
    <li><a href="mailto:{{ site.data.author.Email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    {% endif %}
</ul>
</div>
