<header class="header-top-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-4">
                <!-- START LOGO DESIGN AREA -->
                <div class="logo">
                    <a href="{{site.url}}">{{site.data.author.Name}}</a>
                </div>
                <!-- END LOGO DESIGN AREA -->
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-8">
                <!-- START MENU DESIGN AREA -->
                <nav class="mainmenu">
                    <div class="navbar navbar-nobg">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="smoth-scroll" href="{% if  page.url != '/' %}{{site.url}}{% endif %}#home">Home</a></li>
                                <li><a class="smoth-scroll" href="{% if  page.url != '/' %}{{site.url}}{% endif %}#about">About</a></li>
                                <li><a class="smoth-scroll" href="{% if  page.url != '/' %}{{site.url}}{% endif %}#project">Projects</a></li>
                                <li><a href="{{ "/assets/pdf/resume.pdf" | prepend: site.baseurl }}" target="_blank">Resume</a></li>
                                <li><a href="{{site.url}}/blog">Blog</a></li>
                                <li><a class="smoth-scroll" href="{% if  page.url != '/' %}{{site.url}}{% endif %}#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- END MENU DESIGN AREA -->
            </div>
        </div>
    </div>
</header>
