<div class="welcome-image-area" data-stellar-background-ratio="0.6">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-image wow fadeIn" data-wow-delay="0.1s">
                            <img class="round-img" src="{{ site.url }}{{ site.baseurl }}/assets/img/authors/{{ site.author-img}}"  alt="{{site.author}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
			            <div class="header-links">
			                {% include social.html %}
			            </div>
                        <div class="home-arrow-down text-center">
		                    <a href="#about" class="smoth-scroll btn"><i class="fa fa-angle-double-down"></i></a>
		                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
