
.blog-page-design-area {
    padding-top: 100px;
    /*padding-bottom: 100px;*/
}


.post-border-top {
	border-top: #e9e9e9 1px solid;
	padding-top: 20px;
	margin-top: 20px;
}

.post-border-bottom {
	border-bottom: #e9e9e9 1px solid;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.single-blog-post {
    margin-bottom: 50px;
}

.single-blog-post h2 {
    font-size: 22px;
}

.single-blog-post a.read-more {
    background: #000;
    color: #fff;
    padding: 6px 20px;
    border: 1px solid #000;
}

.single-blog-post a.read-more:hover {
    background: transparent;
    color: #000;
    border: 1px solid #000;
}

.post-date {
    margin-bottom: 10px;
}

.post-date span {
    margin-right: 20px;
}

.post-date span i {
    margin-right: 5px;
    color: #333;
}

.single-blog-post p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.blog-carosel-control {
    position: absolute;
    top: 50%;
    color: #000;
    font-size: 30px;
    margin-top: -50px;
    background: #333;
    height: 100px;
    width: 25px;
    text-align: center;
    line-height: 99px;
}

.blog-carosel-control.right {
    right: 0px;
    left: auto;
}

.pagination {
    margin: 0;
}

ul.blog_pagination li a {
    border: 1px solid #e8e8e9;
    border-radius: 0 !important;
    color: #353535;
    font-family: roboto, sans-serif;
    font-size: 16px;
    height: 35px;
    line-height: 20px;
    margin: 5px;
    width: 35px;
}


.black-icon {
    background: #333 none repeat scroll 0 0 !important;
    color: #fff !important;
}

.black-icon:hover {
    background: #333 !important;
}

.black-icon i {
    font-size: 14px;
}

ul.blog_pagination li a:hover {
    color: #fff;
    background: #333;
    border: 1px solid #333;
}

.single-side-bar {
    margin-bottom: 40px;
    overflow: hidden;
}

.single-side-bar h2 {
    margin-bottom: 15px;
    font-size: 22px;
    margin-top: 0;
    text-transform: capitalize;
}

.single-side-bar input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 0;
    box-shadow: none;
    color: #e3e8f0;
    height: 50px;
    float: left;
}

.single-side-bar input:hover,
.single-side-bar input:focus {
    border: 1px solid #333;
    box-shadow: none;
    outline: 0 none;
}

.single-side-bar button {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #333;
    color: #fff;
    height: 42px;
    padding: 0 32px;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-side-bar button:hover {
    background: transparent;
    color: #000;
    border: 1px solid #333;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-side-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-side-bar ul li a {
    color: #767676;
    display: block;
    font-size: 14px;
    padding: 5px 0;
}

.single-side-bar ul li a span {
    float: right;
}

.single-side-bar ul li a:hover {
    color: #333
}

.single-blog-social-icon {
    overflow: hidden;
    float: left;
    width: 177px;
    margin-bottom: 10px;
}

.single-blog-social-icon i {
    border: 1px solid #333;
    border-radius: 50px;
    float: left;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    text-align: center;
    width: 50px;
}

.single-blog-social-icon .facebook {
    border: 1px solid #5d82d1;
    color: #5d82d1;
}

.single-blog-social-icon .twitter {
    border: 1px solid #00BFF3;
    color: #00BFF3;
}

.single-blog-social-icon .youtube {
    border: 1px solid #CB1D1F;
    color: #CB1D1F;
}

.tag {
    overflow: hidden;
}

.tag a {
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 5px 8px;
    border: 1px solid #333;
}

.tag a:hover {
    color: #000;
    border: 1px solid #333;
    background: transparent;
}

.single-blog-post-details blockquote {
    font-size: 16px;
    line-height: 28px;
}

.next-previews-button-design {
    margin-top: 40px;
    overflow: hidden;
}

.next-previews-button-design a {
    color: #000;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #000;
}
