/* ===================================
1. Blog thumbnail
2. Pagination
3. Blog detail
4. Tags
==================================== */


/* ===================================
1. Blog thumbnail
==================================== */

.blog-page-design-area {
    padding-top: 100px;
}

.single-blog-post {
    margin-bottom: 50px;
}

.post-date {
    margin-bottom: 20px;
}

.post-date span {
    margin-right: 20px;
    text-transform: capitalize;
    color: #3e4444;
}

.post-date span i {
    margin-right: 5px;
    color: #333;
}

.single-blog-post a h1{
    font-size:24px;
}

.single-blog-post p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.single-blog-post a.read-more {
    background: #3e4444;
    color: #fff;
    padding: 6px 20px;
    border: 1px solid #3e4444;
}

.single-blog-post a.read-more:hover {
    background: transparent;
    color: #ff7b25;
    border: 1px solid #3e4444;
}


/* ===================================
2. Pagination
==================================== */

.pagination {
    margin: 0;
}

ul.blog_pagination li a {
    border: 1px solid #3e4444;
    border-radius: 0 !important;
    color: #353535;
    font-family: roboto, sans-serif;
    font-size: 16px;
    height: 35px;
    line-height: 20px;
    margin: 5px;
    width: 35px;
}


.black-icon {
    background: #3e4444 none repeat scroll 0 0 !important;
    color: #fff !important;
}

.black-icon:hover {
    background: #3e4444 !important;
}

.black-icon i {
    font-size: 14px;
}


ul.blog_pagination li a:hover,ul.blog_pagination li a.active {
    color: #fff;
    background: #3e4444;
    border: 1px solid #3e4444;
}


/* ===================================
3. Blog detail
==================================== */

.single-blog-post-details p {
    text-align: justify;
    margin-bottom: 10px;
}

.single-blog-post-details h3 {
    margin-top: 40px;
}

.single-blog-post-details h4 {
    margin-top: 20px;
}

.single-blog-post-details blockquote {
    font-size: 16px;
    line-height: 30px;
}

.single-blog-post-details ul, .single-blog-post-details  li{
    padding: 5px 10px 10px;
    list-style: initial;
}

.next-previews-button-design {
    margin-top: 40px;
    overflow: hidden;
}

.next-previews-button-design a {
    color: #000;
}

.next-previews-button-design a:hover {
    color: #ff7b25;
}

/* ===================================
4. Tags
==================================== */

.tag {
    overflow: hidden;
}

.tag a {
    color: #767676;
    float: left;
    font-size: 12px;
    text-transform: capitalize;
    margin: 5px 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 5px 8px;
    border: 1px solid #333;
}

.tag a:hover {
    color: #ff7b25;
    border: 1px solid #333;
    background: transparent;
}

/* ===================================
5. Blog Social icon
==================================== */

.single-blog-social-icon {
    overflow: hidden;
    float: left;
    width: 177px;
    margin-bottom: 10px;
}

.single-blog-social-icon i {
    border: 1px solid #333;
    border-radius: 50px;
    float: left;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    text-align: center;
    width: 50px;
}

.single-blog-social-icon .facebook {
    border: 1px solid #5d82d1;
    color: #5d82d1;
}

.single-blog-social-icon .twitter {
    border: 1px solid #00BFF3;
    color: #00BFF3;
}

.single-blog-social-icon .youtube {
    border: 1px solid #CB1D1F;
    color: #CB1D1F;
}


