/* Tablet Layout: 768px. */
@media only screen and (min-width: 767px) and (max-width: 992px) {
    .single-project-done {
        text-align: center;
    }
    .about-image img {
        margin-top: 30px;
    }
    .single-testimonial p {
        padding: 0 50px;
    }
    .single-contact-details i {
        margin-bottom: 20px;
    }
    .single-project-complete {
        margin-bottom: 30px;
    }
    .single-service,
    .single-blog {
        margin-bottom: 30px;
    }
    #map {
        margin-top: 20px;
    }
     .about-text {
        padding-top: 0px;
        margin-top: 30px;
    }

    .header-image {
        width: 200px;
    }

    .about-image {
        display: none;
    }

    .section-title {
        margin-bottom: 10px;
    }

    #pagination, .next-previews-button-design {
        margin-bottom: 30px;
    }

    .left-sidebar, .right-sidebar{
    border: none;
    }

    .right-sidebar .about-me {
    display:none;
    }
}


/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

    .navbar-collapse {
        opacity: 1;
        visibility: visible;
        background: #3e4444;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    .navbar-toggle {
        margin-top: -26px;
        margin-right: 0;
    }

    .navbar {
        min-height: 0px;
    }

    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }

    .menu-bg .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }

    .mainmenu .navbar-nav li a:hover {
        color: #fff;
    }

    .menu-bg .navbar-collapse {
        background: #3e4444;
    }

    .welcome-image-area
    {
        padding-top: 120px;
    }

    .home-arrow-down {
        bottom: -200px;
    }

    .section-title {
        margin-bottom: 20px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .about-me-area {
        height: auto;
    }

    .about-text {
        padding-top: 0px;
    }

    .about-text h3 {
        margin-bottom: 20px;
    }

    .about-text ul li {
        width: 100%;
    }

    .about-image{
        display:none;
    }

    .footer-area p,
    .footer-social-link {
        text-align: center;
    }

    .copyright{
    display: none;
    }

    .single-blog-post a h1{
    font-size:24px;
    }

    .section-title {
        margin-bottom: 10px;
    }

    #pagination, .next-previews-button-design {
        margin-bottom: 30px;
    }

    .left-sidebar, .right-sidebar{
    border: none;
    }

    .right-sidebar .about-me {
    display:none;
    }
}
