---
layout: page
---


<div class="container-fluid" style="padding-top:100px;">
	<div class="row">
		<div class="col-md-2 col-sm-12">
		{% include author-sidebar.html %}
		</div>

		<div class="col-md-7 col-sm-12">
			<article class="article-page">
			  <div class="page-content">
			    {% if page.img %}
			    <div class="page-cover-image">
			      <figure>
			        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
			        {% if page.fig-caption %}
			          <figcaption>{{page.fig-caption}}</figcaption>
			        {% endif %}
			      </figure>
			    </div> 
			    {% else %}
			    {% endif %}
			    <div class="wrap-content">
			      <header class="header-page">
			        <h1 class="page-title">{{page.title}}</h1>
			        {% if page.author %}    
			    	<span class="page-author">By: {{ page.author }}</span>
			    	{% endif %}
			    	{% if page.date %}
			        <span class="page-date">{{page.date | date: '%b %d, %Y'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
			        {% endif %}
			      </header>
			      {{content | markdownify}}
			      <div class="page-footer">
			        <div class="page-share">
			          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
			          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
			          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
			        </div>
			        <div class="page-tag">
			          {% for tag in page.tags %}
			            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag"> {{ tag }} 	</a>
			          {% endfor %}
			        </div>
			      </div>
			    </div>
			  </div> 
			</article>
		</div>
		<div class="col-md-3 col-sm-12">
			Recent Posts
			<ul>
			{% for post in site.posts %}

			<li> - <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a> </li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>




